In [121]:
import pandas as pd
import glob

In [130]:
filenames = glob.glob("dados*.csv")
outputFileName = "DATA/Queda Livre/freeFall"
dataFrames = []

In [131]:
for i,file in zip(range(1, len(filenames) + 1), filenames):
    data = pd.read_csv(file, header = None, decimal = ',', delimiter = ',')
    data.columns = ['time', 'position']
    data['experiment'] = [i]*len(data.index)
    data.position = data.position / 100
    outputFile = outputFileName + str(i) + ".csv"
    data.to_csv(outputFile, float_format='%g', index = None, header = True)
    dataFrames.append(data)

In [132]:
data = pd.concat(dataFrames)
data.to_csv("DATA/Queda Livre/freeFall.csv", float_format='%g', index = None, header = True)

In [134]:
tempos1 = [0.0021, 0.0708, 0.1396, 0.2083, 0.2771, 0.3458, 0.4146, 0.4833, 0.5521, 0.6208, 0.6896, 0.7583, 0.8271, 0.8958, 0.9646, 1.0333, 1.1021, 1.1708, 1.2396, 1.3083, 1.3771, 1.4458, 1.5146, 1.5833, 1.6521, 1.7208, 1.7896, 1.8583, 1.9271, 1.9958, 2.0646, 2.133];
angulos1 = [261, 261.8, 264, 267, 270.5, 274.5, 277, 278.7, 279.4, 278, 275.5, 272.5, 268, 265, 263, 261.5, 261.7, 262.5, 264.7, 268.5, 272, 275, 277.5, 278.5, 278.3, 276.5, 275, 271, 267.5, 274.5, 272.5, 271.5];
tempos2 = [0.0062, 0.075, 0.1437, 0.2125, 0.2812, 0.35, 0.4188, 0.4875, 0.5562, 0.625, 0.6937, 0.7625, 0.8312, 0.9, 0.9688, 1.0375, 1.1062, 1.175, 1.2437, 1.3125, 1.3812, 1.45, 1.5188, 1.5875, 1.6562, 1.725, 1.7938, 1.8625, 1.9312, 2.0, 2.0688, 2.1375];
angulos2 = [261, 262, 264.5, 267.5, 271, 274.5, 277.5, 278.5, 278.7, 278, 275.5, 272.5, 268.5, 265, 262.5, 261.5, 261, 262.5, 265, 269, 272, 274.5, 277.5, 278.5, 278.6, 277, 274, 271, 267.5, 264.5, 262.5, 261];
tempos3 = [0.0104, 0.0792, 0.1479, 0.2167, 0.2854, 0.3542, 0.4229, 0.4917, 0.5604, 0.6292, 0.6979, 0.7667, 0.8354, 0.9042, 0.9729, 1.0417, 1.1104, 1.1792, 1.2479, 1.3167, 1.3854, 1.4541 ,1.5229, 1.5917, 1.6604, 1.7192, 1.7979, 1.8667, 1.9354, 2.0042, 2.0729, 2.1417];
angulos3 = [261, 262, 264.5, 267.5, 271, 275, 277.5, 279, 278.7, 275.5, 275, 272, 278.5, 275, 272.5, 261.5, 261, 263, 265.5, 278.5, 272, 276, 277, 279, 278, 277, 274.5, 271, 267, 264, 262.5, 261]
tempos4 = [0.0146, 0.0833, 0.1521, 0.2208, 0.2896, 0.3583, 0.4271, 0.4958, 0.5646, 0.6333, 0.7021, 0.7708, 0.8396, 0.9083, 0.9771, 1.0458, 1.1146, 1.1833, 1.2521, 1.3208, 1.3896, 1.4583, 1.5271, 1.5858, 1.6646, 1.7333, 1.8021, 1.8708, 1.9396, 2.0083, 2.0771, 2.1458];
angulos4 = [260.6, 261.9, 264.5, 267.1, 271.0, 274.5, 277.3, 278.5, 278.7, 278.0, 275.5, 272.5, 268.2, 264.7, 262.1, 261.5, 260.6, 262.4, 264.8, 269.0, 272, 274.5, 277.5, 278.5, 278.6, 277.0, 273.9, 270.7, 267.2, 264.5, 262.5, 261.0]
tempos5 = [0.0187, 0.0875, 0.1562, 0.225, 0.2938, 0.3625, 0.4212, 0.5, 0.5687, 0.6375, 0.7062, 0.775, 0.8438, 0.9125, 0.9812, 1.05, 1.1187, 1.1875, 1.2562, 1.325, 3928, 1.4625, 1.5312, 1.6, 1.6688, 1.7375, 1.8062, 1.875, 1.9438, 2.0125, 2.0812, 2.15];
angulos5 = [260.7, 261.8, 264.5, 267.4, 270.6, 275, 277.4, 279, 278.7, 275.4, 275, 272, 278.5, 275.0, 272.2, 261.1, 260.9, 262.7, 265.3, 278.5, 272, 276, 277, 279, 278, 276.8, 274.5, 270.6, 266.7, 264, 262.5, 260.6]

In [155]:
tempos = [tempos1, tempos2, tempos3, tempos4, tempos5]
angulos = [angulos1, angulos2, angulos3, angulos4, angulos5]
dataFrames = []


for i,a,t in zip(range(1, 6), angulos, tempos):
    dataDict = {'time' : t,
                'angle': a,
                'experiment' : [i]*len(a)}
    df = pd.DataFrame(dataDict)
    dataFrames.append(df)

In [156]:
data = pd.concat(dataFrames)
data.to_csv("DATA/Pêndulo Livre/pendulum.csv", float_format='%g', index = None, header = True)

In [169]:
data = pd.read_csv('atrito.csv')
data.distance = data.distance / 100
data.bar_height = data.bar_height / 100
data.to_csv("DATA/atrito.csv", float_format='%g', index = None, header = True)

In [170]:
data = pd.read_csv('DATA/atrito.csv')

In [171]:
data

      time  distance  bar_height  experiment
0    0.033     0.192       0.166           1
1    0.067     0.192       0.166           1
2    0.100     0.192       0.166           1
3    0.133     0.193       0.166           1
4    0.167     0.196       0.166           1
..     ...       ...         ...         ...
121  0.400     0.205       0.127          10
122  0.434     0.210       0.127          10
123  0.457     0.215       0.127          10
124  0.500     0.222       0.127          10
125  0.534     0.230       0.127          10

[126 rows x 4 columns]